/* Global Styles
================================================== */
.olympus-clear-floats {
	clear: both;
}
.olympus-clearfix:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.olympus-fadein {
	opacity: 0;
}
/* Spacing
================================================== */
.olympus-spacing {
	display: block;
	height: auto;
	margin: 0 !important;
	padding: 0 !important;
	background: none !important;
	border: none !important;
	outline: none !important;
}
/* Divider
================================================== */
.olympus-divider {
	display: block;
	width: 100%;
	height: 0;
	margin: 0;
	background: none !important;
}
.olympus-divider.solid {
	border-top: 1px solid #E0E0E0;
}
.olympus-divider.dashed {
	border-top: 2px dashed #E0E0E0;
}
.olympus-divider.dotted {
	border-top: 3px dotted #E0E0E0;
}
.olympus-divider.double {
	height: 5px;
	border-top: 1px solid #E0E0E0;
	border-bottom: 1px solid #E0E0E0;
}

/* Social
================================================== */
.olympus-social-icon {
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 5px;
}
.olympus-social-icon img {
	display: inline;
	border: none;
	outline: none;
	padding: 0;
	margin: 0;
	box-shadow: none !important;
}
.olympus-social-icon img:hover {
	opacity: 0.8;
}
/* Columns
================================================== */
.olympus-one-half {
	width: 48%;
}
.olympus-one-third {
	width: 30.66%;
}
.olympus-two-third {
	width: 65.33%;
}
.olympus-one-fourth {
	width: 22%;
}
.olympus-three-fourth {
	width: 74%;
}
.olympus-one-fifth {
	width: 16.8%;
}
.olympus-two-fifth {
	width: 37.6%;
}
.olympus-three-fifth {
	width: 58.4%;
}
.olympus-four-fifth {
	width: 67.2%;
}
.olympus-one-sixth {
	width: 13.33%;
}
.olympus-five-sixth {
	width: 82.67%;
}
.olympus-one-half, .olympus-one-third, .olympus-two-third, .olympus-three-fourth, .olympus-one-fourth, .olympus-one-fifth, .olympus-two-fifth, .olympus-three-fifth, .olympus-four-fifth, .olympus-one-sixth, .olympus-five-sixth {
	position: relative;
	margin-right: 4%;
	margin-bottom: 2em;
	float: left;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.olympus-column-last {
	margin-right: 0!important;
	clear: right;
}
.olympus-column-last:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

/* Buttons
================================================== */
.olympus-button {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin: 5px 5px 5px 0;
	cursor: pointer;
	display: inline-block;
	white-space: nowrap;
	nowhitespace: afterproperty;
	text-align: center;
	outline: none;
	border-radius: 3px;
	background: #aaa;
	text-decoration: none !important;
	border: 0 !important;
}
.olympus-button span.olympus-button-inner {
	display: block;
	color: #fff;
	font-weight: 600;
	padding: 1.1em 1.4em;
	line-height: 1em;
	text-decoration: none;
	text-align: center;
	white-space: nowrap;
	border-radius: 3px;
}
.olympus-button:active {
	text-decoration: none;
	background: #7e7e7e;
	background:    -moz-linear-gradient(top,  #7e7e7e 0%, #aaa 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7e7e7e), color-stop(100%,#aaa));
	background: -webkit-linear-gradient(top,  #7e7e7e 0%,#aaa 100%);
	background:      -o-linear-gradient(top,  #7e7e7e 0%,#aaa 100%);
	background:     -ms-linear-gradient(top,  #7e7e7e 0%,#aaa 100%);
	background:         linear-gradient(to bottom,  #7e7e7e 0%,#aaa 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7e7e7e', endColorstr='#aaaaaa',GradientType=0 );
}
.olympus-button:hover {
	text-decoration: none;
	        opacity: 0.9;
	   -moz-opacity: 0.9;
	-webkit-opacity: 0.9;
}
.olympus-button.black {
	background: #505050;
}
.olympus-button.black:active {
	background: #101010;
	background:    -moz-linear-gradient(top,  #101010 0%, #505050 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#101010), color-stop(100%,#505050));
	background: -webkit-linear-gradient(top,  #101010 0%,#505050 100%);
	background:      -o-linear-gradient(top,  #101010 0%,#505050 100%);
	background:     -ms-linear-gradient(top,  #101010 0%,#505050 100%);
	background:         linear-gradient(to bottom,  #101010 0%,#505050 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#101010', endColorstr='#505050',GradientType=0 );
}

.olympus-button.red {
	background: #d01d10;
}

.olympus-button.red:active {
	background: #d01d10;
	background:    -moz-linear-gradient(top,  #d01d10 0%, #f36d64 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d01d10), color-stop(100%,#f36d64));
	background: -webkit-linear-gradient(top,  #d01d10 0%,#f36d64 100%);
	background:      -o-linear-gradient(top,  #d01d10 0%,#f36d64 100%);
	background:     -ms-linear-gradient(top,  #d01d10 0%,#f36d64 100%);
	background:         linear-gradient(to bottom,  #d01d10 0%,#f36d64 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d01d10', endColorstr='#f36d64',GradientType=0 );
}
.olympus-button.orange {
	background: #fa9e19;
}

.olympus-button.orange:active {
	background: #fb6909;
	background:    -moz-linear-gradient(top,  #fb6909 0%, #fa9e19 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fb6909), color-stop(100%,#fa9e19));
	background: -webkit-linear-gradient(top,  #fb6909 0%,#fa9e19 100%);
	background:      -o-linear-gradient(top,  #fb6909 0%,#fa9e19 100%);
	background:     -ms-linear-gradient(top,  #fb6909 0%,#fa9e19 100%);
	background:         linear-gradient(to bottom,  #fb6909 0%,#fa9e19 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb6909', endColorstr='#fa9e19',GradientType=0 );
}
.olympus-button.blue {
	background: #1571f0;
}
border-top: 1px solid #84c6fd;
}
.olympus-button.blue:active {
	background: #1571f0;
	background:    -moz-linear-gradient(top,  #1571f0 0%, #41a7fc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1571f0), color-stop(100%,#41a7fc));
	background: -webkit-linear-gradient(top,  #1571f0 0%,#41a7fc 100%);
	background:      -o-linear-gradient(top,  #1571f0 0%,#41a7fc 100%);
	background:     -ms-linear-gradient(top,  #1571f0 0%,#41a7fc 100%);
	background:         linear-gradient(to bottom,  #1571f0 0%,#41a7fc 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1571f0', endColorstr='#41a7fc',GradientType=0 );
}
.olympus-button.rosy {
	background: #f295a2;
}
.olympus-button.rosy:active {
	background: #e84a5f;
	background:    -moz-linear-gradient(top,  #e84a5f 0%, #ee7787 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e84a5f), color-stop(100%,#ee7787));
	background: -webkit-linear-gradient(top,  #e84a5f 0%,#ee7787 100%);
	background:      -o-linear-gradient(top,  #e84a5f 0%,#ee7787 100%);
	background:     -ms-linear-gradient(top,  #e84a5f 0%,#ee7787 100%);
	background:         linear-gradient(to bottom,  #e84a5f 0%,#ee7787 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e84a5f', endColorstr='#ee7787',GradientType=0 );
}

.olympus-button.pink {
	background: #e3618d;

}
.olympus-button.pink:active {
	background: #cb245c;
	background:    -moz-linear-gradient(top,  #cb245c 0%, #e3618d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cb245c), color-stop(100%,#e3618d));
	background: -webkit-linear-gradient(top,  #cb245c 0%,#e3618d 100%);
	background:      -o-linear-gradient(top,  #cb245c 0%,#e3618d 100%);
	background:     -ms-linear-gradient(top,  #cb245c 0%,#e3618d 100%);
	background:         linear-gradient(to bottom,  #cb245c 0%,#e3618d 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb245c', endColorstr='#e3618d',GradientType=0 );
}

.olympus-button.green {
	background: #10D03D;
}

.olympus-button.green:active {
	background: #5fb139;
	background:    -moz-linear-gradient(top,  #5fb139 0%, #88dd48 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5fb139), color-stop(100%,#88dd48));
	background: -webkit-linear-gradient(top,  #5fb139 0%,#88dd48 100%);
	background:      -o-linear-gradient(top,  #5fb139 0%,#88dd48 100%);
	background:     -ms-linear-gradient(top,  #5fb139 0%,#88dd48 100%);
	background:         linear-gradient(to bottom,  #5fb139 0%,#88dd48 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5fb139', endColorstr='#88dd48',GradientType=0 );
}
.olympus-button.brown {
	background: #876565;
}
.olympus-button.brown:active {
	background: #604848;
	background:    -moz-linear-gradient(top,  #604848 0%, #876565 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#604848), color-stop(100%,#876565));
	background: -webkit-linear-gradient(top,  #604848 0%,#876565 100%);
	background:      -o-linear-gradient(top,  #604848 0%,#876565 100%);
	background:     -ms-linear-gradient(top,  #604848 0%,#876565 100%);
	background:         linear-gradient(to bottom,  #604848 0%,#876565 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#604848', endColorstr='#876565',GradientType=0 );
}

.olympus-button.purple {
	background: #524656;

}
.olympus-button.purple:active {
	background: #372f3a;
	background:    -moz-linear-gradient(top,  #372f3a 0%, #635569 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#372f3a), color-stop(100%,#635569));
	background: -webkit-linear-gradient(top,  #372f3a 0%,#635569 100%);
	background:      -o-linear-gradient(top,  #372f3a 0%,#635569 100%);
	background:     -ms-linear-gradient(top,  #372f3a 0%,#635569 100%);
	background:         linear-gradient(to bottom,  #372f3a 0%,#635569 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#372f3a', endColorstr='#635569',GradientType=0 );
}

.olympus-button.gold {
	background: #ffc750;

}
.olympus-button.gold:active {
	background: #faaa00;
	background:    -moz-linear-gradient(top,  #faaa00 0%, #ffc750 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#faaa00), color-stop(100%,#ffc750));
	background: -webkit-linear-gradient(top,  #faaa00 0%,#ffc750 100%);
	background:      -o-linear-gradient(top,  #faaa00 0%,#ffc750 100%);
	background:     -ms-linear-gradient(top,  #faaa00 0%,#ffc750 100%);
	background:         linear-gradient(to bottom,  #faaa00 0%,#ffc750 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#faaa00', endColorstr='#ffc750',GradientType=0 );
}
.olympus-button.teal {
	background: #3c9091;
}
.olympus-button.teal:active {
	background: #286061;
	background:    -moz-linear-gradient(top,  #286061 0%, #3c9091 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#286061), color-stop(100%,#3c9091));
	background: -webkit-linear-gradient(top,  #286061 0%,#3c9091 100%);
	background:      -o-linear-gradient(top,  #286061 0%,#3c9091 100%);
	background:     -ms-linear-gradient(top,  #286061 0%,#3c9091 100%);
	background:         linear-gradient(to bottom,  #286061 0%,#3c9091 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#286061', endColorstr='#3c9091',GradientType=0 );
}

.olympus-button.navy {
	background: #2c76cf;

}
.olympus-button.navy:active {
	background: #1d4e89;
	background:    -moz-linear-gradient(top,  #1d4e89 0%, #2c76cf 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1d4e89), color-stop(100%,#2c76cf));
	background: -webkit-linear-gradient(top,  #1d4e89 0%,#2c76cf 100%);
	background:      -o-linear-gradient(top,  #1d4e89 0%,#2c76cf 100%);
	background:     -ms-linear-gradient(top,  #1d4e89 0%,#2c76cf 100%);
	background:         linear-gradient(to bottom,  #1d4e89 0%,#2c76cf 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d4e89', endColorstr='#2c76cf',GradientType=0 );
}

.olympus-button {
	font-size: 13px;
}
.olympus-button.large {
	font-size: 16px;
}
.olympus-button.giant {
	font-size: 18px;
}
.olympus-button.left {
	float: left;
}
.olympus-button.right {
	float: right;
	margin-right: 0;
	margin-left: 5px;
}
.olympus-button.aligncenter {
	display: block;
	margin: 0 auto;
}
.olympus-button-icon-left {
	margin-right: 7px;
}
.olympus-button-icon-right {
	margin-left: 7px;
}
/* Highlights
================================================== */
.olympus-highlight-yellow, .olympus-highlight-yellow a {
	background-color: #fff7a8;
	color: #695d43;
}
.olympus-highlight-blue, .olympus-highlight-blue a {
	color: #5091b2;
	background: #e9f7fe;
}
.olympus-highlight-green, .olympus-highlight-green a {
	color: #5f9025;
	background: #ebf6e0;
}
.olympus-highlight-red, .olympus-highlight-red a {
	color: #de5959;
	background: #ffe9e9;
}
.olympus-highlight-gray, .olympus-highlight-gray a {
	color: #666;
	background: #f9f9f9;
}
/* Boxes
================================================== */
/*main*/
.olympus-box {
	display: block;
	padding: 15px;
	margin: 10px 0;
	font-size: 1em;
	border-radius: 2px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.olympus-box p:last-child {
	margin: 0;
}
/*aligns*/
.olympus-box.center {
	margin-left: auto;
	margin-right: auto;
}
.olympus-box.left {
	float: left;
}
.olympus-box.right {
	float: right;
}
/*colors*/
.olympus-box.gray {
	color: #666;
	background: #f9f9f9;
	border: 1px solid #ddd;
}
.olympus-box.red {
	color: #de5959;
	background: #ffe9e9;
	border: 1px solid #fbc4c4;
}
.olympus-box.green {
	color: #5f9025;
	background: #ebf6e0;
	border: 1px solid #b3dc82;
}
.olympus-box.blue {
	color: #5091b2;
	background: #e9f7fe;
	border: 1px solid #b6d7e8;
}
.olympus-box.yellow {
	color: #C19E33;
	background: #fffdf3;
	border: 1px solid #f2dfa4;
}
.olympus-box.black {
	color: #fff;
	background: 1000;
}
.olympus-box.black a {
	color: #fff;
	text-decoration: underline;
}
/* Toggle
================================================== */
.olympus-toggle .olympus-toggle-trigger {
	display: block;
	color: #555;
	display: block;
	padding: 15px 15px 15px 37px;
	border: 1px solid #ddd;
	background: #f9f9f9 url('../images/plus.png') no-repeat 15px center;
	outline: 0;
	text-transform: none;
	letter-spacing: normal;
	font-weight: normal;
	font-size: 1em;
	line-height: 1.5em;
	margin: 0;
	margin-top: 10px;
	cursor: pointer;
}
.olympus-toggle .olympus-toggle-trigger:hover {
	background-color: #eee;
	text-decoration: none;
}
.olympus-toggle .olympus-toggle-trigger.active, .olympus-toggle .olympus-toggle-trigger.active:hover {
	color: 1000;
	background-color: #eee;
	background-image: url('../images/minus.png');
	text-decoration: none;
}
.olympus-toggle .olympus-toggle-container {
	display: none;
	overflow: hidden;
	padding: 15px;
	border: 1px solid #ddd;
	border-top: 0;
}
/* Accordion
================================================== */
.olympus-accordion h3.olympus-accordion-trigger {
	display: block;
	color: #555;
	display: block;
	padding: 15px 15px 15px 37px;
	border: 1px solid #ddd;
	background: #f9f9f9 url('../images/plus.png') no-repeat 15px center;
	outline: 0;
	text-transform: none;
	letter-spacing: normal;
	font-weight: normal;
	font-size: 1em;
	line-height: 1.5em;
	margin: 10px 0 0 !important;
	cursor: pointer;
}
.olympus-accordion h3.olympus-accordion-trigger a {
	color: #555;
	text-decoration: none !important;
	border-bottom: 0
}
.olympus-accordion .ui-state-focus {
	outline: none;
}
.olympus-accordion .olympus-accordion-trigger:hover {
	background-color: #eee;
	text-decoration: none;
}
.olympus-accordion .olympus-accordion-trigger.ui-state-active {
	background-color: #eee;
	background-image: url('../images/minus.png');
	text-decoration: none;
}
.olympus-accordion .olympus-accordion-trigger.ui-state-active a {
	color: 1000;
}
.olympus-accordion .ui-accordion-content {
	background-color: #fff;
	padding: 15px;
	border: 1px solid #ddd;
	border-top: 0;
}
.olympus-accordion .ui-accordion-content p:last-child {
	margin: 0;
}
.olympus-accordion .ui-icon {
	margin-right: 7px;
}
/* Tabs
================================================== */
.olympus-tabs ul.ui-tabs-nav {
	display: block;
	margin: 0;
	padding: 0;
	border-bottom: solid 1px #ddd;
	margin-left: 1px;
}
.olympus-tabs ul.ui-tabs-nav li {
	display: block;
	width: auto;
	height: 40px;
	padding: 0 !important;
	float: left !important;
	margin: 0 !important;
	outline: none;
}
.olympus-tabs ul.ui-tabs-nav li a {
	display: block;
	text-decoration: none;
	width: auto;
	height: 39px;
	padding: 0 20px;
	line-height: 40px;
	border: solid 1px #ddd;
	border-width: 1px 1px 0 0;
	margin: 0;
	background-color: #f5f5f5;
	font-size: 1em;
	color: #444;
	outline: none;
}
.olympus-tabs ul.ui-tabs-nav li a:hover {
	color: #333;
	background: #eee;
}
.olympus-tabs ul.ui-tabs-nav .ui-state-active a {
	background: #fff;
	height: 42px;
	position: relative;
	border-left-width: 1px;
	margin: 0 0 0 -1px;
	color: #111 !important;
	-moz-border-radius-topleft: 2px;
	-webkit-border-top-left-radius: 2px;
	        border-top-left-radius: 2px;
	-moz-border-radius-topright: 2px;
	-webkit-border-top-right-radius: 2px;
	        border-top-right-radius: 2px;
}
.olympus-tabs ul.ui-tabs-nav .ui-state-active a:hover {
	background: #fff;
}
.olympus-tabs ul.ui-tabs-nav li:first-child .ui-state-active a {
	margin-left: 0;
}
.olympus-tabs ul.ui-tabs-nav li:first-child a {
	border-width: 1px 1px 0 1px;
}
.olympus-tabs .tab-content {
	background: #fff;
	padding: 20px;
	border-left: solid 1px #ddd;
	border-right: solid 1px #ddd;
	border-bottom: solid 1px #ddd;
}
.olympus-tabs ul.tabs:before, ul.tabs:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.olympus-tabs ul.tabs:after {
	clear: both;
}
.olympus-tabs ul.tabs {
	zoom: 1;
}
.olympus-tabs .ui-tabs-hide {
	display: none;
}
.olympus-tabs:before, ul.olympus-tabs:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
.olympus-tabs:after {
	clear: both;
}
.olympus-tabs {
	zoom: 1;
}
.olympus-tabs .ui-tabs-hide {
	display: none;
}
/* Heading - v1.1
================================================== */
.olympus-heading {
	padding-bottom: 20px;
	border-bottom: 1px solid #ddd;
	font-size: 16px;
}
.olympus-heading span {
	background: #fff;
}
.olympus-heading-dotted-line {
	background: url('../images/dotted.png') center center repeat-x;
	height: 40px !important;
	line-height: 40px !important;
	padding: 0 !important;
	border-bottom: none;
}
.olympus-heading-dashed-line {
	background: url('../images/dashed.png') center center repeat-x;
	height: 40px !important;
	line-height: 40px !important;
	padding: 0 !important;
	border-bottom: none;
}
.olympus-heading-double-line {
	background: url('../images/double-line.png') center center repeat-x;
	height: 40px !important;
	line-height: 40px !important;
	padding: 0 !important;
	border-bottom: none;
}
.olympus-heading.text-align-center {
	text-align: center;
}
.olympus-heading.text-align-center span {
	padding-right: 15px;
	padding-left: 15px;
}
.olympus-heading.text-align-left {
	text-align: left;
}
.olympus-heading.text-align-left span {
	padding-right: 15px;
}
.olympus-heading.text-align-right {
	text-align: right;
}
.olympus-heading.text-align-right span {
	padding-left: 15px;
}
.olympus-heading-icon-left {
	margin-right: 10px;
}
.olympus-heading-icon-right {
	margin-left: 10px;
}
/* Googlemap - v1.1
================================================== */
.googlemap {
	position: relative;
	max-width: inherit;
}
.googlemap .map_canvas {
	width: 100%;
	height: 100%;
}
.googlemap .map_canvas h3 {
	margin: 0 0 10px;
	font-size: 14px;
}
.map_canvas img {
	max-width: none !important;
}
/* Divider - v1.1
================================================== */
.olympus-divider {
	display: block;
	width: 100%;
	height: 0;
	margin: 0;
	background: none;
}
.olympus-divider.solid {
	border-top: 1px solid #eee;
}
.olympus-divider.dashed {
	border-top: 2px dashed #eee;
}
.olympus-divider.dotted {
	border-top: 3px dotted #eee;
}
.olympus-divider.double {
	height: 5px;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
/* Call to Action - 1.4
================================================== */
.olympus-cta {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	padding: 20px;
	background: #eee;
	position: relative;
	border-radius: 3px;
}
.olympus-cta-caption {
	font-size: 1em;
	font-weight: 700;
	color: #555;
	line-height: 50px;
	vertical-align: middle;
}
.olympus-cta-button {
	float: right;
	margin-left: 20px;
	margin-bottom: 0;
}
.olympus-cta-button .button {
	height: 40px;
	line-height: 40px;
}
/* Provide some responsive support for the Shortcodes
================================================== */
@media only screen and (max-width: 520px) {
	.olympus-one-half, .olympus-one-third, .olympus-two-third, .olympus-three-fourth, .olympus-one-fourth, .olympus-one-fifth, .olympus-two-fifth, .olympus-three-fifth, .olympus-four-fifth, .olympus-one-sixth, .olympus-five-sixth {
		width: 100%;
		float: none;
		margin-right: 0;
		margin-bottom: 20px;
	}
	.olympus-pricing-table > div {
		margin-bottom: 25px;
	}
	.olympus-box, .olympus-box.left, .olympus-box.right {
		float: none;
		width: 100% !important;
	}
	.olympus-tabs ul.ui-tabs-nav {
		margin-left: 0;
	}
	.olympus-tabs ul.ui-tabs-nav li {
		width: 100%;
	}
	.olympus-tabs ul.ui-tabs-nav li a {
		border-left-width: 1px;
	}
	.olympus-tabs ul.ui-tabs-nav .ui-state-active a, .olympus-tabs ul.ui-tabs-nav .ui-state-active a:hover {
		height: 39px;
		padding-top: 0;
		margin-left: 0;
		top: auto;
		background-color: #eee;
		color: 1000;
		font-weight: bold;
	}
	.olympus-callout-caption {
		text-align: center;
	}
	.olympus-callout-button {
		float: none;
		margin-bottom: 20px;
		display: block;
		text-align: center;
	}
	.olympus-callout-button .olympus-button {
		display: inline-block;
	}
}

/* Social Profile Widget Styles
================================================== */

.olympus-social-icon {
	border: 0 !important;
	float: left
}

@font-face {
	font-family: 'si';
	src: url('fonts/socicon.eot');
	src: url('fonts/socicon.eot?#iefix') format('embedded-opentype'),
		 url('fonts/socicon.woff') format('woff'),
		 url('fonts/socicon.ttf') format('truetype'),
		 url('fonts/socicon.svg#icomoonregular') format('svg');
	font-weight: normal;
	font-style: normal;

}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family:si;
		src: url(fonts/socicon.svg) format(svg);
	}
}

.olympus-social-icon {
	font-family:si!important;
	font-style:normal;
	font-weight:400;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	overflow:hidden;
	text-decoration:none;
	text-align:center;
	display:block;
	position: relative;
	z-index: 1;
	width: 32px;
	height: 32px;
	line-height: 32px;
	font-size: 17px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-right: 10px;
	color: #ffffff;
	background-color: none;
}

.olympus-social-icon:hover {
	color: #ffffff;
}

.olympus_icon-last{
	margin:0 !important;
}

.olympus_twitter_url {
	background-color: #4da7de;
}
.olympus_twitter_url:before {
	content:'a';
}
.olympus_facebook_url {
	background-color: #3e5b98;
}
.olympus_facebook_url:before {
	content:'b';
}
.olympus_google_url {
	background-color: #d93e2d;
}
.olympus_google_url:before {
	content:'c';
}
.olympus_pinterest_url {
	background-color: #c92619;
}
.olympus_pinterest_url:before {
	content:'d';
}
.olympus_linkedin_url {
	background-color: #3371b7;
}
.olympus_linkedin_url:before {
	content:'j';
}
.olympus_rss_url {
	background-color: #f26109;
}
.olympus_rss_url:before {
	content:',';
}
.olympus_youtube_url {
	background-color: #e02a20;
}
.olympus_youtube_url:before {
	content:'r';
}
.olympus_instagram_url {
	background-color: #9c7c6e;
}
.olympus_instagram_url:before {
	content:'x';
}
.olympus_email_url {
	background-color: #578AD6;
}
.olympus_email_url:before {
	content:'@';
}

/* Flexslider
================================================== */

.olympus-slider-container .flex-direction-nav a {
	opacity: 0.7
}

.olympus-slider-container .flex-direction-nav .flex-prev {
	left: 20px;
	border: 0;
	background-color: #232323;
	border-radius: 3px;
}

.olympus-slider-container .flex-direction-nav .flex-next {
	right: 20px;
	border: 0;
	background-color: #232323;
	border-radius: 3px;
}

.olympus-slider-container .flex-direction-nav a:before {
	font-size: 15px;
	padding: 9px 15px 0 ;
	color: #CFCFCF;
}

.olympus-slider-container:hover .flex-direction-nav .flex-prev {
	opacity: 0.7;
	left: 20px !important;
}

.olympus-slider-container:hover .flex-direction-nav .flex-next {
	opacity: 0.7;
	right: 20px !important;
}

/* Font Awesome Demo
================================================== */

.font-awesome-demo .fa {
	height: 40px;
	width: 40px;
}